body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
#isp{
    text-align: center;
}
#coverage
{
    margin-left: 9%;
    margin-right: 9%;
}
#contact{
    padding:  300px;
}
footer{
    text-align: center;
}

